a.btn span{
  display: flex;
  gap: 8px;
}

.story .section-subtitle{
color: var(--primary-100);
}

.story .section-title {margin-block: 12px;}

.avatar-list{
  display: flex;
}

.avatar{
  position: relative;
  width: 60px;
  height: 46px;
  border-radius: var(--radius-full);
  border: 3px solid var(--neutral-98);
  overflow: hidden;
}

.avatar:not(:first-child){
  margin-inline-start: -10px ;
}

.avatar .overlay-content{
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: #000000bf;
  color: var(--neutral-100);
}

.story .title-wrapper,
.story-list
{
  display: grid;
  gap: 16px;
}

.story-card{
  position: relative;
  height: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--radius-large);
  overflow: hidden;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.story-card:where(:hover, :focus-visible){scale:0.99;}

.story-card .overlay-content{
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #00000000 33.33%, #000000cc 100%);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 24px;
}

.overlay-content .card-figure img{
  width: 56px;
  height: 56px;
  border-radius: var(--radius-circle);
  box-shadow: var(--shadow-3);
  overflow: hidden;
}

.rating-wrapper{
  display: flex;
  align-items: center;
  margin-block-start: 8px;
}
.rating-text{
  margin-inline-start: 8px;
  color: var(--neutral-80);
}



.story-card .material-symbols-rounded{
  font-variation-settings: 'FILL' 1;
  color: var(--yellow);
}
